<!DOCTYPE html>
<html lang="en"
 xmlns:sec="https:///www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>User Management</title>
    <link rel='stylesheet' th:href ="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{./style.css}">

</head>
<body>

<!-- partial:index.partial.html -->

<div class="container">
    <div style="width:140px" id="login-box">
        <div class="logo">
            <img style="width:35%" src="https://scontent.fhan14-1.fna.fbcdn.net/v/t39.30808-1/268034896_3304506926541959_1055993852543333120_n.jpg?stp=dst-jpg_p160x160&_nc_cat=107&ccb=1-7&_nc_sid=7206a8&_nc_ohc=9Aye3i4BwgUAX9dQvJK&_nc_ht=scontent.fhan14-1.fna&oh=00_AT8rquDNiIxfxwHOD1xC2kWkuWCC7zbSxbsOpY9cV-qqfA&oe=62E1169F" class="img img-responsive img-circle center-block"/>
            <h1 class="logo-caption"><span class="tweak">L</span>ogin</h1>
            <form th:action ="@{/j_spring_security_check}" class=" btn-default validate-form" method = POST>
        </div>
        <div class="controls">
            <input type="text" name="username" placeholder="Username" class="form-control" autofocus/>
            <input type="password" name="password" placeholder="Password" class="form-control" autofocus />
            <button type="submit" class="btn btn-default btn-block btn-custom">Login</button>
            <div class="form-group">
						<span class="btn btn-default btn-block btn-custom">New user? <a href="/" th:href="@{/registration}"> Register
								here</a></span>
            </div>
        </div>
    </div>
</div>
<div id="particles-js"></div>

<!-- partial -->

<script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css}"></script>
<script th:src="@{https://code.jquery.com/jquery-1.11.1.min.js}"></script>
<script th:src="@{./script.js}"></script>

</body>
</html>